<header>
  <div class="navbar navbar-dark bg-dark box-shadow">
    <div class="container d-flex justify-content-between">
      <a routerLink="/" class="navbar-brand d-flex align-items-center">
        <strong>Trackerfy</strong>
      </a>

    </div>
    <a>
      <ng-container *ngIf="auth.isLoggedIn">
        {{name}}
      </ng-container>
    </a>

    <a>
      <ng-container *ngIf="auth.isLoggedIn else loggedOut">
        <button (click)="auth.logout()">
          Log out
        </button>
      </ng-container>
    </a>
    <a>
      <ng-template #loggedOut>
        <button (click)="auth.login()">Log in</button>
      </ng-template>
    </a>
  </div>
</header>
