<div class="card">
  <div class="card-body">
    <div class="row">
      <div class="col-md-6">
        <p class="lead">{{issue.id}}: {{issue.summary}}
          <span><i class="fa fa-fw fa-1x py-1 fa-flag text-danger		"></i></span></p>
      </div>
      <div class="col-md-6 text-right">
        <span class="badge badge-pill badge-info">Payments</span>
        <span class="badge badge-pill badge-secondary">Team1</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-8">
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="form-group"><label for="description">Description</label>
              <textarea class="form-control form-control-lg" id="description"></textarea>
            </div>
          </div>
        </div>
        <div class="row mb-2">
          <div class="col-md-12">
            <div class="form-group"><label for="form17">Attachments</label>
              <div class="form-group"><input type="file" class="form-control-file" id="form17"
                                             placeholder="Werther Inc."></div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><i class="fa fa-file text-primary mr-2"></i>Cras justo odio.pdf</li>
              <li class="list-group-item"><i class="fa fa-image text-primary mr-2"></i> Dapibus ac facilisis in.pdf <i
                class="fa fa-remove text-danger mr-2"></i></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="comment">Comments</label>
              <input type="text" class="form-control" id="comment" name="comment"
                     placeholder="Add comment">
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 text-right mb-2">
            <div class="btn-group">
              <button class="btn dropdown-toggle btn-primary" data-toggle="dropdown" aria-expanded="false"
                      contenteditable="true"> {{issue.issueStateDescription}}
              </button>
              <div class="dropdown-menu" x-placement="bottom-start"
                   style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, 38px, 0px);">
                <a class="dropdown-item" href="#">Action</a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">Separated link</a>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-2">
            <div class="form-group"><label for="responsable">Responsable</label>
              <input type="text" class="form-control" id="responsable" name="responsable"
                     value="Alejandro Perez"></div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Created</label>
            <p class="text-muted">Sandra Jowett&nbsp; {{issue.created | amTimeAgo}}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <label>Last modification</label>
            <p class="text-muted">Sandra Jowett&nbsp; {{issue.lastModified | amTimeAgo}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
