<button class="btn btn-primary" (click)="open(createIssueModal)">Create</button>
<ng-template #createIssueModal let-modal>
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Create new issue</h5>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <form [formGroup]="newIssueForm" (ngSubmit)="createIssue()" class="form">
      <div class="modal-body">
        <div class="row">
          <div class="col-md-3">
            <div class="form-group mb-2">
              <label for="issueType">Type</label>
              <select name="issueType" id="issueType" formControlName="issueTypeId" class="form-control">
                <option>--select--</option>
                <option *ngFor="let issueType of issueTypes" value="{{issueType.id}}">{{issueType.description}}</option>
              </select>
            </div>
          </div>
          <div class="col-sm-9">
            <div class="form-group">
              <label for="summary">Summary</label>
              <input type="text" formControlName="summary" class="form-control" id="summary" name="summary"
                     placeholder="Write something...">
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-primary" [disabled]="!newIssueForm.valid"
                (click)="createIssue();modal.dismiss('Cross click')">Create
        </button>
      </div>
    </form>
  </div>

</ng-template>
